<h2 class="page-header">Download</h2>

{{#if emptyBucket}}

<h4>Pusto tutaj! Załaduj obrazki za pomocą panelu upload.</h4>
<h3><a href="{{url}}"></a>{{url}} </h3>


{{else}}

{{#if url}}

<p>Tymczasowy link do pliku będzie aktywny przez 5 minut.</p>

<p><a href="{{url}}">{{url}}</a> </h4></p>

{{/if}}


<div class="table-responsive">
  <table class="table table-striped ">
    <thead>
      <tr>

        <th style="width: 80%">Nazwa pliku</th>
        <th style="width: 10%"></th>
        <th style="width: 10%"></th>

      </tr>
    </thead>
    <tbody>
      {{#each list}}
      <tr>
        <td>{{this}}</td>
        <td>
          <form action="download-file-s3" method="get">
            <button type="submit" name="file" value={{this}} class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-download"></span> Pobierz</button>
          </form>
        </td>
        <td>
          <form action="share-file" method="get">
            <button type="submit" name="file" value={{this}} class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-share"></span> Link</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  
 
</div>


{{/if}}